{% extends 'authentication/base.html' %}
{% block content_authentication %}

    <table class='mx-auto'>
        <thead class='text-center'> 
            <tr>
                <th colspan='2' class='lead font-weight-bold'>
                    Changement de mot de passe
                </th>
            </tr>
        </thead>
        <tbody class='text-center'> 
            <tr>
                <td colspan='2'>
                    Le mot de passe du compte {{ user.username }} a été mis à jour
                </td>
            </tr>
            <tr>
                <td colspan='2' class='container'>
                    <div class='row mt-3'>
                        <a href="{% url 'my_account' %}" class='btn btn-outline-dark mx-auto'>Ok</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock content_authentication %}
