{% extends 'base.html' %}
{% block content %}

    {% include 'ticketing/builtin/title.html' with text=title %}

    <div class='border m-2 p-2'>
        <form method='POST' enctype='multipart/form-data' >
            {% csrf_token %}

            <span class='mt-2'>{{ form.title }}</span>
            <span class='mt-2'>{{ form.description }}</span>
            <span class='mt-2'>{{ form.image }}</span>

            {% include 'ticketing/builtin/buttons.html' with text='Créer' %}

        </form>
    </div>

{% endblock %}
