{% extends 'ticketing/base.html' %}
{% block content_ticketing %}

<div class='container mx-auto'>

    {% for post in posts %}

        {% if post.get_type == 'REVIEW' %}
            {% include 'ticketing/builtin/review.html' with review=post buttons=False %}

        {% elif post.get_type == 'TICKET' %}
            {% include 'ticketing/builtin/ticket.html' with ticket=post review_opened=True buttons=True %}

        {% endif %}

    {% empty %}
        <p>Aucune entrée à afficher</p>
    {% endfor %}

</div>

{% endblock %}
