/* https://htmlcolors.com/palette/2267/spring-pastel */

.ticket-header {
    background-color : #E0F1BB;
}
.ticket {
    background-color : #FAFAFA;
}

.review-header {
    background-color : #FDE4DE;
}
.review {
    background-color : #FBFBFC;
}
