/* https://htmlcolors.com/palette/2267/spring-pastel */

.ticket-header {
    background-color : #C0E2FA;
    color : #000
}
.ticket {
    background-color : #EFF8FE;
    color : #000
}

.review-header {
    background-color : #D9D9D9;
    color : #000
}
.review {
    background-color : #FBFBFC;
    color : #000
}
